/*
Standard buttons

Button styles can be applied to anything with the .btn class applied. However, typically you'll want to apply these to only &lt;a&gt; and &lt;button&gt; elements for the best rendering.

Styleguide 4
*/
// Base styles & states
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
// .btn--blue   - Blue button
// .btn--small   - Small button
// .btn--border   - Border Orange button
// .btn--border:hover   - Border Orange button (Hover state)
// .btn--border-blue   - Border Blue button
// .btn--border-blue:hover   - Border Blue button (Hover state)
// .btn--blue:hover   - Blue button (Hover state)
// .btn--blue:active   - Blue button (Active state)
// .btn--blue.disabled   - Blue button (Disabled state)
//
// Markup:
// <button type="submit" class="btn {{modifier_class}}">Button</button>
//
// Styleguide 4.1

// Button group
//
// Markup:
// <div class="btn-group">
//     <button type="submit" class="btn">Button1</button>
//     <button type="submit" class="btn">Button2</button>
// </div>
//
// Styleguide 4.2

.btn-group{
    display: inline-block;
    button, .btn{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
}
button,
.btn {
    @include transition(none);
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    background-color: $cwColor-base-orange;
    padding: 15px 20px;
    border: none;
    display: inline-block;
    &:hover {
        background-color: $cwColor-black-dark;
    }
    &.disabled,
    &[disabled] {
        cursor: default;
        @include cw-opacity(0.25);
        background-color: $cwColor-base-blue;
    }
    &.btn--blue{
        background-color: $cwColor-base-blue;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            background-color: $cwColor-black-dark;
            color: #fff;
        }
        &.disabled,
        &[disabled] {
            cursor: default;
            background-color: $cwColor-base-blue;
        }
    }
    &.btn--border {
        background-color: $cwColor-base-white;
        color: $cwColor-base-orange;
        border: 1px solid $cwColor-base-orange;
    }
    &.btn--border-blue {
        background-color: $cwColor-base-white;
        color: $cwColor-base-blue;
        border: 1px solid $cwColor-base-blue;
    }
    &.btn--border,
    &.btn--border-blue {
        &:hover {
            background-color: $cwColor-base-white;
            color: $cwColor-black-dark;
            border: 1px solid $cwColor-black-dark;
        }
    }
    &.btn--small {
        font-size: 14px;
        padding: 8px 12px;
    }
}
