/*
Standard buttons

Button styles can be applied to anything with the .btn class applied. However, typically you'll want to apply these to only &lt;a&gt; and &lt;button&gt; elements for the best rendering.

Application:

- Orange Buttons: They represent the Main Action, it's the CTA for all actions than requiere a request, like: Get, Send, Save, Continue.

- Blue Buttons: They represent Secondary Actions, like: View, Add element, Download, Call.

- Light Blue Buttons: They represent Secondary Actions when you need to differentiate from the Blue buttons, like: Edit, Delete.

- Buttons with a border: They represent Auxiliary Actions, like: Chat, Delete, Cancel.


Styleguide 4
*/
// Base styles & states
//
//:active      - Active state.
// .btn--blue   - Blue button
// .btn--blue:active   - Blue button (Active state)
// .btn--blue-light   - Blue button
// .btn--blue-light:active   - Blue button (Active state)
//:hover       - Hover state (for orange, blue and blue light button)
// .btn--border   - Border Orange button
// .btn--border:hover   - Border Orange button (Hover state)
// .btn--border-blue   - Border Blue button
// .btn--border-blue:hover   - Border Blue button (Hover state)
// .btn--blue.disabled   - Blue button (Disabled state)
// .btn--small   - Small button
//
// Markup:// <button type="submit"class="btn {{modifier_class}}">Button</button>
// 
// Styleguide 4.1

// Button group
//
// Markup:// <div class="btn-group">
//     <button type="submit"class="btn">Button1</button>
//     <button type="submit"class="btn">Button2</button>
// </div>
//
// Styleguide 4.2
//
// Styleguide 4.3
//
// Add media query to use hover only for screensize > 1200 px

.btn-group {
    display: inline-block;

    button, .btn {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
button, .btn {
    @include transition(none);
    font-size: 14px;
    border-radius: 3px;
    color: $cwColor-base-white;
    background-color: $cwColor-base-orange;
    border: 1px solid $cwColor-base-orange;
    padding: 10px 20px;
    display: inline-block;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

    &.btn--blue {
        background-color: $cwColor-base-blue;
        border: 1px solid $cwColor-base-blue;
        color: $cwColor-base-white;
    }
    &.btn--blue-light {
        background-color: $cwColor-blue-light;
        border: 1px solid $cwColor-blue-light;
        color: $cwColor-base-white;
    }
    &.btn--border {
        background-color: $cwColor-base-white;
        color: $cwColor-base-orange;
        border: 1px solid $cwColor-base-orange;
    }
    &.btn--border-blue {
        background-color: $cwColor-base-white;
        color: $cwColor-base-blue;
        border: 1px solid $cwColor-base-blue;
    }
    &.btn--border, &.btn--border-blue {
        &:hover {
            @media screen and (min-width: 1200px) {
                background-color: $cwColor-base-white;
                color: $cwColor-black-dark;
                border: 1px solid $cwColor-black-dark;
            }
        }
    }
    &.btn--small {
        font-size: 14px;
        padding: 8px 12px;
    }
    &.disabled, &[disabled] {
        cursor: default;
        background-color: $cwColor-black-light;
        border: 1px solid $cwColor-black-light;
    }
    &:hover {
      @media screen and (min-width: 1200px) {
        border: 1px solid $cwColor-black-dark;
        background-color: $cwColor-black-dark;
        color: $cwColor-base-white;
      }
    }
}