.form,
form {
    .form-group {
        label {
            color: $light-blue;
            display: block;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            text-align: left;
            margin: 0 auto;
            padding: 1em 0 0.2em 16px;
        }
        .form-input {
            background-color: transparent;
            border-radius: 0;
            border: 1px solid $dark-gray;
            padding-left: 15px;
            width: 100%;
            height: 65px;
            text-align: left;
            font-size: 1em;
            max-width: 600px;
            color: #333;
            font-weight: 100;
            &.form-input--long {
                height: 38px;
            }
            &.form-input--error {
                border-color: #f00;
            }
            &.form-input--email {
                background-image: image-url('email.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
            &.form-input--password {
                background-image: image-url('password.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
        .form-checkbox {
            input {
                display: none;
            }
            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
            }
            input+label {
                font-size: 22px;
                height: 25px;
                width: 25px;
                 :before {
                    padding-right: 0;
                    color: $gray;
                }
            }
        }
    }
    &.form--light {
        input.form-input {
            border-color: #fff;
        }
    }
}

/*
 Standard forms styles

 Styleguide 4
*/
/*
 Standards forms

 .form--light    - Form over blue background

 Markup:
 <form class="form {{modifier_class}}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-input" placeholder="Name"/>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" id="surname" class="form-input" placeholder="Surname"/>
    </div>
 </form>

 Styleguide 4.1
*/
/*
 Different inputs text, password, email

 Add any of the following classes to the `.form-input` base class.

 .form-input--long   - Long form
 .form-input--error  - Show error style
 .form-input--email  - Email icon
 .form-input--password  - Password icon

 Markup:
 <form class="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-input {{modifier_class}}" placeholder="Email"/>
    </div>
 </form>

 Styleguide 4.2
*/
/*
 Checkbox inputs

 Markup:
 <form class="form">
     <div class="form-group">
         <div class="form-checkbox">
             <input type="checkbox" id="checkbox"/>
             <label for="checkbox"></label>
         </div>
         <label for="email">Checkbox</label>
     </div>
 </form>

 Styleguide 4.3
*/
