.form,
form {
    .form-group {
        padding: 10px 0;
        position: relative;
        label {
            color: $cwColor-base-blue;
            display: block;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: left;
            margin: 0 auto;
            padding: 0.2em 25px 0.2em 0;
            position: relative;
            .form-help-icon {
                @include cw-icon-before(question-circle, 0, $cwColor-base-blue);
                cursor: pointer;
                font-size: 18px;
                right: 5px;
                top: 0;
                position: absolute;
            }
        }
        .form-input {
            background-color: transparent;
            border-radius: 0;
            border: 1px solid $cwColor-black-dark;
            padding-left: 15px;
            width: 100%;
            height: 65px;
            text-align: left;
            font-size: 1em;
            color: #333;
            font-weight: 100;
            &.form-input--long {
                height: 38px;
            }
            &.form-input--email {
                background-image: $cw-images-email;
                background-repeat: no-repeat;
                background-position: right center;
            }
            &.form-input--password {
                background-image: $cw-images-password;
                background-repeat: no-repeat;
                background-position: right center;
            }
            &.form-input--info {
                background-image: $cw-images-info;
                background-repeat: no-repeat;
                background-position: right center;
            }
            &.form-input--account {
                background-image: $cw-images-account;
                background-repeat: no-repeat;
                background-position: right center;
            }
            &::-webkit-input-placeholder {
                /* WebKit, Blink, Edge */
                color: $cwColor-black-dark;
            }
            &:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: $cwColor-black-dark;
                opacity: 1;
            }
            &::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: $cwColor-black-dark;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $cwColor-black-dark;
            }
        }
        .help-block {
            display: inline-block;
            color: $cwColor-black-dark;
            width: 100%;
            margin-top: 10px;
        }
        select.form-select {
            display: none;
        }
        .form-select {
            @extend .cs-select;
            max-width: initial;
            color: $cwColor-black-dark;

            .cs-placeholder {
                height: 64px;
                line-height: 32px;
                border: 1px solid #000;
                &:after {
                    @extend .fa;
                    content: $fa-var-arrow-down;
                }
            }
            .cs-options {
                li {
                    span {
                        &:hover {
                            background: $cwColor-blue-light;
                        }
                    }
                    &.cs-selected {
                        span:after {
                            @extend .fa;
                            content: $fa-var-check;
                        }
                    }
                }
            }
            &.cs-active {
                color: $cwColor-base-blue;
            }
        }
        &.form-group--checkbox {
            @include clearfix;
            .form-checkbox {
                float: left;
                margin-top: -4px;
                input {
                    display: none;
                }
                label {
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
                input + label {
                    font-size: 22px;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                    @include cw-icon-before(circle-thin, 0px, $cwColor-black-light);
                }
                input:checked + label {
                    font-size: 22px;
                    height: 25px;
                    width: 25px;
                    @include cw-icon-before(check-circle, 0, $cwColor-base-blue);
                }
                &.form-checkbox--big {
                    input + label {
                        font-size: 40px;
                        height: 50px;
                        width: 50px;
                    }
                    input:checked + label {
                        font-size: 40px;
                        height: 50px;
                        width: 50px;
                    }
                }
                &.form-checkbox--blue {
                    input:checked + label {
                        @include cw-icon-before(check-circle, 0, $cwColor-base-blue);
                    }
                }
            }
            label {
                float: left;
                font-weight: normal;
                color: black;
                padding: 0;
            }
            .help-block {
                color: #fff;
            }
        }
        &.form-group--readonly {
            border-bottom: 2px solid $cwColor-base-blue;
            padding-bottom: 5px;
            label {
                padding-left: 0;
            }
            .form-input {
                border: 0;
                height: 30px;
            }
            input {
                padding: 0;
            }
        }
        &.form-group--error {
            .form-input {
                border-color: #f00;
            }
            .help-block {
                color: #f00;
            }
        }
        &.form-group--icons {
            .form-input {
                height: 30px;
                max-width: 84%;
            }
            .form-icon {
                float: right;
                margin-right: 10px;
                font-size: 22px;
                cursor: pointer;
                &.form-icon--edit {
                    @include cw-icon-before(pencil, 0, $cwColor-base-blue);
                }
                &.form-icon--save {
                    @include cw-icon-before(check, 0, $cwColor-base-blue);
                }
                &.form-icon--cancel {
                    @include cw-icon-before(close, 0, $cwColor-base-blue);
                }
            }
        }
        &.form-group--info {
            margin-bottom: 20px;
            .form-info {
                color: $cwColor-black-medium;
                font-size: 13px;
                margin-bottom: -27px;
                margin-top: 3px;
            }
        }
    }
    &.form--light {
        label {
            color: $cwColor-blue-light;
        }
        .form-input {
            border-color: #fff;
            color: #fff;
            &::-webkit-input-placeholder {
                /* WebKit, Blink, Edge */
                color: $cwColor-blue-light;
            }
            &:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: $cwColor-blue-light;
                opacity: 1;
            }
            &::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: $cwColor-blue-light;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $cwColor-blue-light;
            }
            &.form-input--error {
                border-color: $cwColor-black-dark;
            }
        }
        .form-select {
            background: inherit;
            color: $cwColor-blue-light;
            input {
                display: none;
            }
            .cs-placeholder {
                height: 64px;
                border: 1px solid #fff;
                color: $cwColor-blue-light;
                &:after {
                    @extend .fa;
                    content: $fa-var-arrow-down;
                }
            }
            &.cs-active {
                color: $cwColor-base-blue;
            }
        }
        .help-block {
            color: #fff;
        }
        .form-group--info {
            .form-info {
                color: $cwColor-black-light;
            }
        }
    }
}
/*
 Standard forms styles

 Styleguide 5
*/
/*
 Standards forms (include help-icon)

 .form--light    - Form over blue background

 Markup:
 <form class="form {{modifier_class}}">
    <div class="form-group">
        <label for="name">
            Name
            <span class="form-help-icon"></span>
        </label>
        <input type="text" id="name" class="form-input" placeholder="Name"/>
    </div>
    <div class="form-group form-group--info">
        <label for="surname">
            Surname
            <span class="form-help-icon"></span>
        </label>
        <input type="text" id="surname" class="form-input" placeholder="Surname"/>
        <div class="form-info">
            Example form info
        </div>
    </div>
    <div class="form-group">
        <label for="select-example">Select</label>
        <select  class="form-select select-example-form">
           <option>Option 1</option>
           <option>Option 2</option>
        </select>
    </div>
 </form>

 Styleguide 5.1
*/
/*
 Form readonly

 Markup:
 <form class="form">
    <div class="form-group form-group--readonly">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-input " placeholder="Email" readonly/>
    </div>
 </form>

 Styleguide 5.2
*/
/*
 Form readonly with info and not readonly with info

 Markup:
 <form class="form">
    <div class="form-group form-group--readonly form-group--info">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-input " placeholder="Email" readonly/>
        <div class="form-info">
            Example form info
        </div>
    </div>
    <div class="form-group form-group--info">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-input " placeholder="Email" />
        <div class="form-info">
            Example form info
        </div>
    </div>
 </form>

 Styleguide 5.3
*/
/*
 Form readonly with icons

 .form-icon--edit    - Edit icon
 .form-icon--save    - Save icon
 .form-icon--cancel    - Cancel icon

 Markup:
 <form class="form">
    <div class="form-group form-group--readonly form-group--icons">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-input " placeholder="Email" readonly/>
        <div class="form-icon {{modifier_class}}"></div>
    </div>
 </form>

 Styleguide 5.4
*/
/*
 Different inputs text, password, email

 Add any of the following classes to the `.form-input` base class.

 .form-input--long   - Long form
 .form-input--email  - Email icon
 .form-input--password  - Password icon
 .form-input--info - Info icon
 .form-input--account - Account icon


 Markup:
 <form class="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-input {{modifier_class}}" placeholder="Email"/>
    </div>
 </form>

 Styleguide 5.5
*/
/*
 Help messages

 .form--light    - Message over blue background

 Markup:
 <form class="form  {{modifier_class}}">
    <div class="form-group">
        <label for="name-light">Name</label>
        <input type="text" id="name-light" class="form-input" placeholder="Name"/>
        <span class="help-block" >Please enter a valid name</span>
    </div>
 </form>

 Styleguide 5.6
*/
/*
 Error form group

 .form-group--error    - Message over blue background

 Markup:
 <form class="form">
    <div class="form-group {{modifier_class}}">
        <label for="name-light">Name</label>
        <input type="text" id="name-light" class="form-input" placeholder="Name"/>
        <span class="help-block" >Please enter a valid name</span>
    </div>
 </form>

 Styleguide 5.6
*/
/*
 Checkbox inputs

 .form-checkbox--blue    - Blue checkbox
 .form-checkbox--big    - Big checkbox
 .form-checkbox--big.form-checkbox--blue    - Blue and big checkbox

 Markup:
 <form class="form">
     <div class="form-group form-group--checkbox">
         <div class="form-checkbox {{modifier_class}}">
             <input type="checkbox" id="checkbox{{modifier_class}}"/>
             <label for="checkbox{{modifier_class}}"></label>
         </div>
         <label for="email">Checkbox</label>
     </div>
     <div class="form-group form-group--checkbox">
         <div class="form-checkbox {{modifier_class}}">
             <input type="checkbox" id="checkbox{{modifier_class}}-checked" checked/>
             <label for="checkbox{{modifier_class}}-checked"></label>
         </div>
         <label for="email">Checkbox checked</label>
     </div>
 </form>

 Styleguide 5.8
*/
/*
 Select inputs

 Markup:
 <form class="form">
     <div class="form-group">
         <label for="select-example">Select</label>
         <select id="select-example" class="form-select">
            <option>Option 1</option>
            <option>Option 2</option>
         </select>
     </div>

 </form>

 Styleguide 5.9
*/
