/*
Header

Header styles

Styleguide 11
*/

header {
    background-color: transparent;
    font-size: 15px;
    height: $header-height;
    width: 100%;
    position: absolute;
    .logo {
        @include cw-span-columns(2);
    }
    #notFixed {
        display: block;
    }
    #fixed {
        display: none;
    }
    &.open.fixed {
        background-color: #fff;

        overflow: scroll;
    }
    &.with-color {
        background-color: $cwColor-base-blue;
    }
    &.open {
        position: relative;
        background-color: $cwColor-base-blue;
    }
    &.fixed {
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 999;
        margin-top: -70px;
        border-bottom: 1px solid $cwColor-black-light;
        #notFixed {
            display: none;
        }
        #fixed {
            display: block;
        }
    }
    margin-left: auto;
    margin-right: auto;
    .container {
        max-width: 100%;
        padding: 0;
    }
    &.open {
        -webkit-box-shadow: 0 5px 5px 0rgba(0,0,0,0.3);
        -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
        padding-bottom: 10px;
    }
    .navbar-header {
        height: $header-height;
        float: left;
        padding: $navbar-padding;
        @include media($tablet) {
            width: 100%;
            float: none;
            padding: 0 10px;
        }
        a {
            padding: 22px 15px 21px 0;
            margin-left: -15px;
            img {
                width: 166px !important;
                height: 26px !important;
                vertical-align: middle;
                display: block;
            }
        }
        button.navbar-toggle {
            display: none;
            color: $cwColor-base-blue;
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 18px;
            margin-right: 0;
            margin-bottom: 8px;
            background-color: $cwColor-base-blue;
            background-image: none;
            border: 1px solid #fff;
            border-radius: 4px;
            cursor: pointer;
            .icon-bar {
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
                background-color: #fff;
                &+.icon-bar {
                    margin-top: 4px;
                }
            }
            @include media($tablet) {
                display: block;
            }
        }
    }
    &.fixed {
        .navbar-header button.navbar-toggle {
            background-color: #fff;
            border: 1px solid $cwColor-base-bluegray;
            .icon-bar {
                background-color: $cwColor-base-bluegray;
            }
        }
        .navbar-menu {
            ul.navbar-nav {
                > li {
                    .btn--login {
                        border-color: lighten($cwColor-base-bluegray, 20%);
                        color: lighten($cwColor-base-bluegray, 20%);
                        &:hover {
                            border-color: $cwColor-base-bluegray;
                            color: $cwColor-base-bluegray;
                        }
                    }
                    color: $cwColor-base-bluegray;
                    .link {
                        color: $cwColor-base-bluegray;
                        &:hover {
                            border-bottom: 1px $cwColor-base-bluegray solid;
                            padding-bottom: 3px;
                        }
                        &.telephone-link span:before {
                            color: $cwColor-base-bluegray;
                        }
                    }
                    &.menu-dropdown{
                        margin: 0 1px;
                        &:hover{
                            border-color: #d2d2d2;
                            border-right: 1px solid #d2d2d2;
                            border-left: 1px solid #d2d2d2;
                            margin: 0;
                            > .link{
                                .menu-dropdown__body{
                                    border: 1px solid $cwColor-black-light;
                                    border-top: 0;
                                    @include media($tablet){
                                        border: 0;
                                    }
                                    &.insurances-menu{
                                        right: 293px;
                                        @include media($tablet){
                                            right: 0;
                                        }
                                    }
                                    &.industries-menu{
                                        right: 188px;
                                        @include media($tablet){
                                            right: 0;
                                        }
                                    }
                                    &.telephone-menu{
                                        right: 635px;
                                        @include media($tablet){
                                            right: 0;
                                            padding-left: 40px;

                                        }
                                        .lists{
                                            ul{
                                                @include cw-span-columns-desktop(12);
                                                padding-left: 0;
                                                li{
                                                    padding:8px 20px 8px 20px
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }

                        & > div span.icon:before {
                            color: $cwColor-base-bluegray;
                        }
                        .text {
                            color: $cwColor-base-bluegray;
                            &.telephone-link{
                                span{
                                    top:14px;
                                    &:before{
                                        color: $cwColor-base-bluegray;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-menu {
        float: right;
        margin-top: 10px;
        @include media($desktop) {
            display: block !important;
        }
        @include media($tablet) {
            margin-top: 0;
            padding-top: 0;
            padding-left: 0;
            float: none;
            display: none;
            border-top: 1px solid #fff;
        }
        ul.nav {
            list-style: none;
            padding-left: 0;
            float: left;
            margin-top: -10px;
            @include media($tablet) {
                float: none !important;
            }
            &:before {
                content: "";
                display: table;
            }
            li:last-child:after {
                content: '';
                margin-left: 0;
            }
            >li {
                @include media($tablet) {
                    float: none !important;
                    padding: 11px 50px;
                    height: auto;
                    line-height: normal;
                }
                @include media($mobile) {
                    padding: 11px 50px;
                    &.menu-dropdown {
                        padding: 11px 45px;
                    }
                }
                display: block;
                float: left;
                height: 50px;
                padding: 11px 16px;
                color: #fff;
                font-size: 13px;
                height: 70px;
                line-height: 47px;
                @include media($desktop) {
                    &:after {
                        margin-left: 5px;
                    }
                }
                .btn--login {
                    background: inherit;
                    @include media($tablet){
                        background: #fff;
                    }
                    border: 1px solid $cwColor-blue-light;
                    color: $cwColor-blue-light;
                    font-size: 13px;
                    padding: 12px;
                    line-height: 11px;
                    margin-top: 12px;
                    position: relative;
                    top: -6px;
                    &:hover {
                        border-color: #fff;
                        color: #fff;
                    }
                    @include media($mobile) {
                        width: 100%;
                    }
                }
                a {
                    text-transform: uppercase;
                    line-height: 20px;
                    display: inline-block;
                    color: #fff;
                    &:hover {
                        border-bottom: 1px #FFF solid;
                        padding-bottom: 3px;
                    }
                    &.telephone-link {
                        position: relative;
                        span {
                            @include cw-covericon-before(phone-nav, 10px, #fff);
                            position: absolute;
                            top: 13px;
                            left: 2px;
                            font-size: 20px;
                            @include cw-hide-mobile();
                        }

                    }
                }
                &.menu-dropdown {
                    padding: 0;
                    cursor: pointer;
                    margin: 0 1px;
                    &:hover{
                        border-color: #d2d2d2;
                        border-right: 1px solid #d2d2d2;
                        border-left: 1px solid #d2d2d2;
                        margin: 0;
                    }
                    @include media($tablet){
                        height: auto;
                        line-height: normal;
                    }
                    > div {
                        text-transform: uppercase;
                        line-height: 47px;
                        display: inline-block;
                        color: #fff;
                        @include media($tablet){
                            height: auto;
                            line-height: normal;
                        }
                        span {
                            display: inline-block;
                        }
                        .text {
                            padding: 11px 5px;
                            line-height: 47px;
                            &.telephone-link{
                                padding: 11px 5px 11px 30px;
                                &:hover{
                                    padding: 11px 5px 11px 30px;
                                    span:before{
                                        color: $cwColor-base-bluegray;
                                    }
                                }
                            }
                            &:hover {
                                padding: 11px 5px;
                                border: 0;
                                color: $cwColor-base-bluegray;
                            }
                            @include media($tablet){
                                line-height: normal;
                            }
                            a {
                                transition: none;
                                &:hover {
                                    padding-bottom: 0;
                                    border: 0;
                                    color: $cwColor-base-bluegray;
                                }
                            }
                        }
                        span.icon {
                            @include cw-icon-before(caret-down, 10px, #fff);
                            &:before {}
                            @include media($tablet){
                                font-size: 20px;
                                margin-right: 30px;
                                float: right;
                                padding: 6px 5px;
                            }
                        }
                        a:hover {
                            border-bottom: 1px #FFF solid;
                            padding-bottom: 3px;
                        }
                        a.calendar-menu-icon {
                            @include cw-icon-before(calendar, 10px, $cwColor-base-bluegray);
                            &:hover {
                                border-bottom: 0;
                            }
                        }
                        a.telephone-menu-icon {
                            @include cw-covericon-before(phone-nav, 2px, $cwColor-base-bluegray);
                            &:hover {
                                border-bottom: 0;
                            }
                        }
                    }
                    .menu-dropdown__body {
                        display: none;
                    }
                    @include media($desktop) {

                        height: 70px;
                        & > .link {
                            margin-top: 0;
                        }
                        .telephone-mobile {
                            display: none;
                        }
                        &:hover {
                            background: #fff;

                            a {
                                color: $cwColor-base-bluegray;
                                &.telephone-link{
                                    span:before{
                                        color: $cwColor-base-bluegray;
                                    }

                                }
                            }
                            .text {
                                color: $cwColor-base-bluegray;

                            }
                            .icon:before {
                                color: $cwColor-base-bluegray;
                            }
                            >.link {
                                &:hover {
                                    border-bottom: 0;
                                }
                                .menu-dropdown__body {
                                    background: #fff;
                                    border-radius: 0px 0px 2px 2px;
                                    border: 1px solid $cwColor-black-light;
                                    border-top: 0;
                                    float: none;
                                    display: block;
                                    padding: 20px 0 20px 0;
                                    position: absolute;
                                    width: auto;
                                    right: 280px;
                                    margin-top: 1px;
                                        &.insurances-menu{
                                            right: 293px;
                                        }
                                        &.industries-menu{
                                            right: 188px;
                                        }
                                        &.telephone-menu{
                                            right: 666px;
                                            .lists{
                                                ul{
                                                    @include cw-span-columns-desktop(12);
                                                    padding-left: 0;

                                                }
                                            }
                                        }
                                    z-index: 9999999999;


                                    .lists {
                                        float: right;
                                        width: 100%;
                                        ul {

                                            width: 50%;
                                            float:left;
                                            display: inline-block;
                                            border-left: 1px solid $cwColor-black-light;
                                            padding-left: 0;
                                            margin-right: 0;
                                            &:first-child {
                                                border-left: 0;
                                            }
                                            li {
                                                float: none;
                                                line-height: 16px;
                                                min-width: 160px;
                                                &:hover{
                                                    background-color: $cwColor-black-mlight;
                                                }
                                                &.double {
                                                    height: auto;
                                                    line-height: 20px;
                                                    padding: 10px 10px 5px;
                                                    &:hover {
                                                        cursor: default;
                                                    }
                                                }
                                                a {
                                                    text-transform: none;
                                                    color: $cwColor-base-bluegray;
                                                    line-height: 16px;
                                                    width: 100%;
                                                    display: block;
                                                        padding: 8px 10px 8px 30px;
                                                    &:hover {
                                                        border-bottom: 0;
                                                        color: $cwColor-base-blue;

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @include media($tablet) {
                        height: auto;
                        padding: 0 0 0 45px;
                        .link {
                            width: 100%;
                            &:hover {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }

                            .menu-dropdown__body {
                                margin-left: -45px;
                                background: $cwColor-black-xlight;
                                li {
                                    a {
                                        color: $cwColor-base-bluegray;
                                    }
                                }
                            }
                        }
                        &:hover {
                            >.link {
                                background: none;
                                .menu-dropdown__body {
                                    display: none;
                                    position: relative;
                                    background: $cwColor-black-xlight;
                                    border-radius: 0;
                                    &:before {
                                        content: '';
                                    }
                                }
                            }
                        }
                        .telephone-mobile {
                            display: inline-block;
                        }

                        .menu-dropdown__body {
                            float: none;
                            display: none;
                            padding: 0;
                            position: relative;
                            background: inherit;
                            border-radius: 0;
                            li {
                                height: 34px;
                                float: none;
                                line-height: 34px;
                                padding-left: 20px;
                                &.double {
                                    display: none;
                                }
                                a {
                                    text-transform: none;
                                }
                                &:hover {
                                    background-color: inherit;
                                }
                            }
                        }
                        .menu-dropdown__body.open {
                            display: block;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}


/*
Standard header styles

Markup:


Styleguide 11.1
*/
