/*

General Typography

Styleguide 2
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 100;
    font-family: $principal-fonts;
    color: $cwColor-base-bluegray;
    margin: 10px 0;

    &.light {
        color: $cwColor-base-blue;
    }
    &.base-white {
        color: $cwColor-base-white;
    }
}
h1,
.h1 {
    font-size: 54px;
    line-height: 62px;
}
h2,
.h2 {
    font-size: 44px;
    line-height: 52px;
}
h3,
.h3 {
    font-size: 34px;
    line-height: 42px;
}
h4,
.h4 {
    font-size: 24px;
    line-height: 32px;
}
h5,
.h5 {
    font-size: 18px;
    line-height: 25px;
}
h6,
.h6 {
    font-size: 14px;
    line-height: 21px;
}

a, .link{
    @include transition(color 400ms, background-color 400ms);
    color: $cwColor-base-blue;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;

    &:hover{
        @include media($desktop) {
            color: $cwColor-black-dark;
            background-color: transparent;
        }
    }

    &.link--light{
        color: #fff;
        &:hover{
          @include media($desktop) {
            color: #fff;
          }
        }
    }
}

strong,.strong{
    font-weight: bold !important;
}

body{
    color: $color-text;
    font-family: $principal-fonts;
}

/*
Base headers

.light       - Hover state.
.base-white    - White color

Markup:
    <h1 class="{{modifier_class}}">H1 title </h1>
    <h2 class="{{modifier_class}}">H2 title</h2>
    <h3 class="{{modifier_class}}">H3 title</h3>
    <h4 class="{{modifier_class}}">H4 title</h4>
    <h5 class="{{modifier_class}}">H5 title</h5>
    <h6 class="{{modifier_class}}">H6 title</h6>

    Styleguide 2.1
*/
/*
Base headers with span

.light    - Blue color


Markup:
    <h1 class="{{modifier_class}}">H1 title <span>with span</span></h1>
    <h2 class="{{modifier_class}}">H2 title <span>with span</span></h2>
    <h3 class="{{modifier_class}}">H3 title <span>with span</span></h3>
    <h4 class="{{modifier_class}}">H4 title <span>with span</span></h4>
    <h5 class="{{modifier_class}}">H5 title <span>with span</span></h5>
    <h6 class="{{modifier_class}}">H6 title <span>with span</span></h6>

    Styleguide 2.2
*/

// Links
//
// :hover       - Hover state.
// :active      - Active state.
// .link--light - With background color is blue
// .link--light:hover - With background color is blue
//
// Markup:
// <a href="#" class="link {{modifier_class}}">Link</a>
//
// Styleguide 2.3

/*
Strong tags or class

Markup:
    <strong> Strong text </strong>
    <span class="strong"> Strong span</strong>

    Styleguide 2.4
*/
