/*

General Typography

Styleguide 1
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
    font-family: $principal-fonts;
    color: #272727;
    margin: 10px 0;
    span {
        font-weight: bold;
    }

    &.light{
        color: $blue;
    }
}
h1,
.h1 {
    font-size: 54px;
}
h2,
.h2 {
    font-size: 44px;
}
h3,
.h3 {
    font-size: 34px;
}
h4,
.h4 {
    font-size: 24px;
}
h5,
.h5 {
    font-size: 18px;
}
h6,
.h6 {
    font-size: 14px;
}
 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $light-blue;
}
 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $light-blue;
    opacity: 1;
}
 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $light-blue;
    opacity: 1;
}
 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $light-blue;
}

a, .link{
    @include transition(color 400ms, background-color 400ms);
    color: $orange;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;

    &:hover{
        color: $dark-gray;
        background-color: transparent;
    }

    &.link--light{
        color: #fff;
        &:hover{
            color: #fff;
        }
    }
}

strong,.strong{
    font-weight: bold !important;
}

body{
    color: $gray-text;
    font-family: $principal-fonts;
}

/*
Base headers

.light       - Hover state.

Markup:
    <h1 class="{{modifier_class}}">H1 title </h1>
    <h2 class="{{modifier_class}}">H2 title</h2>
    <h3 class="{{modifier_class}}">H3 title</h3>
    <h4 class="{{modifier_class}}">H4 title</h4>
    <h5 class="{{modifier_class}}">H5 title</h5>
    <h6 class="{{modifier_class}}">H6 title</h6>

    Styleguide 1.1
*/
/*
Base headers with span

.light    - Blue color

Markup:
    <h1 class="{{modifier_class}}">H1 title <span>with span</span></h1>
    <h2 class="{{modifier_class}}">H2 title <span>with span</span></h2>
    <h3 class="{{modifier_class}}">H3 title <span>with span</span></h3>
    <h4 class="{{modifier_class}}">H4 title <span>with span</span></h4>
    <h5 class="{{modifier_class}}">H5 title <span>with span</span></h5>
    <h6 class="{{modifier_class}}">H6 title <span>with span</span></h6>

    Styleguide 1.2
*/

// Links
//
// :hover       - Hover state.
// :active      - Active state.
// .link--light - With background color is blue
// .link--light:hover - With background color is blue
//
// Markup:
// <a href="#" class="link {{modifier_class}}">Link</a>
//
// Styleguide 1.3

/*
Strong tags or class

Markup:
    <strong> Strong text </strong>
    <span class="strong"> Strong span</strong>

    Styleguide 1.4
*/
