/*
    Colors
*/
$blue: #438bd7;
$dark-gray: #454855;
$orange: #f3a309;
$light-gray: #e8e8e8;
$gray: darken($light-gray, 50%);
$light-blue: #ecf3fb;
$gray-text: #272727;

$cw-images-path: 'images/' !default;
/*
    fonts
*/
$cw-fonts-path: 'fonts/' !default;
$fa-font-path: $cw-fonts-path !default;

$font-coverwallet-eot: url($cw-fonts-path + "coverwallet.eot") !default;
$font-coverwallet-woff: url($cw-fonts-path + "coverwallet.woff") !default;
$font-coverwallet-ttf: url($cw-fonts-path + "coverwallet.ttf") !default;
$font-coverwallet-svg: url($cw-fonts-path + "coverwallet.svg") !default;

$font-awesome-eot: url($cw-fonts-path + "fontawesome-webfont.eot") !default;
$font-awesome-eot-iefix: url($cw-fonts-path + "fontawesome-webfont.eot?#iefix") !default;
$font-awesome-woff2: url($cw-fonts-path + "fontawesome-webfont.woff2") !default;
$font-awesome-woff: url($cw-fonts-path + "fontawesome-webfont.woff") !default;
$font-awesome-ttf: url($cw-fonts-path + "fontawesome-webfont.ttf") !default;
$font-awesome-svg: url($cw-fonts-path + "fontawesome-webfont.svg?#fontawesomeregular") !default;

/*
images
*/
$cw-images-email: url($cw-images-path + 'email.png') !default;
$cw-images-password: url($cw-images-path + "password.png") !default;
$cw-images-info: url($cw-images-path + "info.png") !default;
$cw-images-account: url($cw-images-path + "account.png") !default;
$cw-images-close: url($cw-images-path + "close-icon.png") !default;



$principal-fonts: 'Open Sans', sans-serif;

/*
    config to neat grid
*/
@import "../bower_components/neat/app/assets/stylesheets/neat-helpers";

$max-width: em(1170);

$desktopParams: min-width 1025px !default;
$tabletParams: max-width 1024px 8 !default;
$mobileParams: max-width 480px 4 !default;

// breakpoints
$tablet: new-breakpoint($tabletParams);
$mobile: new-breakpoint($mobileParams);
$desktop: new-breakpoint($desktopParams);

$retina-screen: new-breakpoint(-webkit-min-device-pixel-ratio 2);

/*
Standar colors


Styleguide 3
*/

/*
Standar principal colors

Markup:
    <div class="color color-blue">$blue (#438bd7)</div>
    <div class="color color-light-blue">$light-blue (#ecf3fb)</div>
    <div class="color color-orange">$orange (#f3a309)</div>

Styleguide 3.1
*/

/*
Standard gray colors

Markup:
    <div class="color color-dark-gray">$dark-gray (#454855)</div>
    <div class="color color-gray">$gray (#696969)</div>
    <div class="color color-light-gray">$light-gray (#e8e8e8)</div>

Styleguide 3.2
*/
