@import 'coverwallet';
.color {
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin: 10px 0;
    &.color-dark-gray {
        background-color: $dark-gray;
    }
    &.color-light-gray {
        background-color: $light-gray;
        color: #000;
    }
    &.color-gray {
        background-color: $gray;
        color: #000;
    }
    &.color-blue {
        background-color: $blue;
    }
    &.color-light-blue {
        background-color: $light-blue;
    }
    &.color-orange {
        background-color: $orange;
    }
}
.form--light {
    background: $blue;
    padding: 20px;
    @include cw-span-columns-desktop(8, 0);
}
.gallery-images{
    .image{
        width: 100%;
        padding-bottom: 20px;
        span{
            display: block;
            margin-bottom: 10px;

        }
        img{
            width: 70%;
            border: 1px solid $blue;
        }
    }
}

.gallery-icons{
    @include row();
    ul{
        @include cw-span-columns-desktop(6);
        .gallery-icon{
            font-size: 25px;
        }
    }
}
.styleguide-icon- {

    &about {
        @include cw-covericon-before(about, 0, #000);
    }
    &account {
        @include cw-covericon-before(account, 0, #000);
    }
    &add {
        @include cw-covericon-before(add, 0, #000);
    }
    &admin {
        @include cw-covericon-before(admin, 0, #000);
    }
    &agent {
        @include cw-covericon-before(agent, 0, #000);
    }
    &cancel {
        @include cw-covericon-before(cancel, 0, #000);
    }
    &cancel-filled {
        @include cw-covericon-before(cancel-filled, 0, #000);
    }
    &chat {
        @include cw-covericon-before(chat, 0, #000);
    }
    &checklist {
        @include cw-covericon-before(checklist, 0, #000);
    }
    &contact {
        @include cw-covericon-before(contact, 0, #000);
    }
    &current {
        @include cw-covericon-before(current, 0, #000);
    }
    &download {
        @include cw-covericon-before(download, 0, #000);
    }
    &edit {
        @include cw-covericon-before(edit, 0, #000);
    }
    &email {
        @include cw-covericon-before(email, 0, #000);
    }
    &feedback {
        @include cw-covericon-before(feedback, 0, #000);
    }
    &info {
        @include cw-covericon-before(info, 0, #000);
    }
    &logout {
        @include cw-covericon-before(logout, 0, #000);
    }
    &newpolicy {
        @include cw-covericon-before(newpolicy, 0, #000);
    }
    &notifications {
        @include cw-covericon-before(notifications, 0, #000);
    }
    &phone {
        @include cw-covericon-before(phone, 0, #000);
    }
    &receipts {
        @include cw-covericon-before(receipts, 0, #000);
    }
    &save {
        @include cw-covericon-before(save, 0, #000);
    }
    &save-filled {
        @include cw-covericon-before(save-filled, 0, #000);
    }
    &schedule {
        @include cw-covericon-before(schedule, 0, #000);
    }
    &settings {
        @include cw-covericon-before(settings, 0, #000);
    }
    &settings-filled {
        @include cw-covericon-before(settings-filled, 0, #000);
    }
    &share {
        @include cw-covericon-before(share, 0, #000);
    }
    &tellfriends {
        @include cw-covericon-before(tellfriends, 0, #000);
    }
    &tyc {
        @include cw-covericon-before(tyc, 0, #000);
    }
    &video {
        @include cw-covericon-before(video, 0, #000);
    }

    &policy-type {
      @include cw-covericon-before(policy-type, 0, #000);
    }
    &past-claims {
      @include cw-covericon-before(past-claims, 0, #000);
    }
    &yearly-revenues {
     @include cw-covericon-before(yearly-revenues, 0, #000);
    }
    &business-size {
      @include cw-covericon-before(business-size, 0, #000);
    }
    &location {
      @include cw-covericon-before(location, 0, #000);
    }
    &employees-number {
      @include cw-covericon-before(employees-number, 0, #000);
    }
    &industry {
      @include cw-covericon-before(industry, 0, #000);
    }
    &your-contracts {
      @include cw-covericon-before(your-contracts, 0, #000);
    }

    &3rdparty {
      @include cw-covericon-before(3rdparty, 0, #000);
    }
    &checklist-shield {
      @include cw-covericon-before(checklist-shield, 0, #000);
    }
    &general-liability {
      @include cw-covericon-before(general-liability, 0, #000);
    }
    &epli {
      @include cw-covericon-before(epli, 0, #000);
    }
    &other-docs {
      @include cw-covericon-before(other-docs, 0, #000);
    }
    &us-map {
      @include cw-covericon-before(us-map, 0, #000);
    }
    &popularity-high {
      @include cw-covericon-before(popularity-high, 0, #000);
    }
    &popularity-low {
      @include cw-covericon-before(popularity-low, 0, #000);
    }
    &popularity-med {
      @include cw-covericon-before(popularity-med, 0, #000);
    }
    &property {
      @include cw-covericon-before(property, 0, #000);
    }
    &restaurants {
      @include cw-covericon-before(restaurants, 0, #000);
    }

    &industries-agriculture {
      @include cw-covericon-before(industries-agriculture, 0, #000);
    }
    &industries-construction {
      @include cw-covericon-before(industries-construction, 0, #000);
    }
    &industries-education {
      @include cw-covericon-before(industries-education, 0, #000);
    }
    &industries-finance {
      @include cw-covericon-before(industries-finance, 0, #000);
    }
    &industries-food {
      @include cw-covericon-before(industries-food, 0, #000);
    }
    &industries-health {
      @include cw-covericon-before(industries-health, 0, #000);
    }
    &industries-maintance {
      @include cw-covericon-before(industries-maintance, 0, #000);
    }
    &industries-manufacturing {
      @include cw-covericon-before(industries-manufacturing, 0, #000);
    }
    &industries-nonprofit {
      @include cw-covericon-before(industries-nonprofit, 0, #000);
    }
    &industries-professional {
      @include cw-covericon-before(industries-professional, 0, #000);
    }
    &industries-realstate {
      @include cw-covericon-before(industries-realstate, 0, #000);
    }
    &industries-retailservices {
      @include cw-covericon-before(industries-retailservices, 0, #000);
    }
    &industries-retailtrade {
      @include cw-covericon-before(industries-retailtrade, 0, #000);
    }
    &industries-sports {
      @include cw-covericon-before(industries-sports, 0, #000);
    }
    &industries-startups {
      @include cw-covericon-before(industries-startups, 0, #000);
    }
    &industries-tech {
      @include cw-covericon-before(industries-tech, 0, #000);
    }
    &industries-transportation {
      @include cw-covericon-before(industries-transportation, 0, #000);
    }
    &industries-wholesale {
      @include cw-covericon-before(industries-wholesale, 0, #000);
    }
        
}
