@import 'coverwallet';

.color{

    padding: 20px;
    border-radius: 5px;
    color: white;
    margin: 10px 0;

    &.color-dark-gray{
        background-color: $dark-gray;
    }
    &.color-light-gray{
        background-color: $light-gray;
        color: #000;
    }
    &.color-gray{
        background-color: $gray;
        color: #000;
    }
    &.color-blue{
        background-color: $blue;
    }
    &.color-light-blue{
        background-color: $light-blue;
    }
    &.color-orange{
        background-color: $orange;
    }
}


.form--light{
    background: $blue;
    padding: 20px;
    @include cw-span-columns-desktop(2, 2);
}
