/*
Fieldset

Fieldset styles

Styleguide 8
*/

.fieldset{
    padding: 0;
    margin: 0;
    border: 0;
    legend{
        display: none;
    }
    &__title{
        color: #000;
        text-transform: uppercase;
        background: $cwColor-blue-light;
        height: 40px;
        width: 100%;
        line-height: 40px;
        padding-left: 15px;
        border-bottom: 1px solid $cwColor-base-blue;
        border-left: 1px solid $cwColor-black-light;
        border-top: 1px solid $cwColor-black-light;
        border-right: 1px solid $cwColor-black-light;
    }
    &__content{
        background: inherit;
        padding: 15px;
        border-top: 0;
        border-left: 1px solid $cwColor-black-light;
        border-bottom: 1px solid $cwColor-black-light;
        border-right: 1px solid $cwColor-black-light;
    }
}

/*
Standard fieldset styles

Markup:
<fieldset class="fieldset">
    <div class="fieldset__title">Legend</div>
    <div class="fieldset__content">
        <h1>Ejemplo</h1>
    </div>
</fieldset>

Styleguide 8.1
*/
