/*
  Icon Radio Group

  Styleguide 13.3

  Markup:
    <div class="icons-radio-group">
      <label class="icons-radio-input">
        <div class="icons-radio-input__icon">
          <span class="styleguide-icon-onlyclick-yes"></span>
        </div>
        <input type="radio" name="test_radio_input" class="icons-radio-input__input" value="Yes">
        <div class="icons-radio-input__label">Yes</div>
      </label>
      <label class="icons-radio-input icons-radio-input--checked">
        <div class="icons-radio-input__icon">
          <span class="styleguide-icon-onlyclick-no"></span>
        </div>
        <input type="radio" name="test_radio_input" class="icons-radio-input__input" value="No">
        <div class="icons-radio-input__label">No</div>
      </label>
      <label class="icons-radio-input">
        <div class="icons-radio-input__icon">
          <span class="styleguide-icon-onlyclick-notsure"></span>
        </div>
        <input type="radio" name="test_radio_input" class="icons-radio-input__input" value="Not sure">
        <div class="icons-radio-input__label">Not sure</div>
      </label>
    </div>
*/

.icons-radio-group {
  @include clearfix();
}

.icons-radio-input {
  float: left;
  width: 140px;
  height: 60px;
  text-align: center;
  margin: 5px;
  color: $cwColor-black-xmedium;
  border: 1px solid $cwColor-black-light;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    border: 1px solid $cwColor-base-blue;
    background-color: $cwColor-base-blue;
    .icons-radio-input__icon > span::before,
    .icons-radio-input__label {
      color: $cwColor-base-white;
    }
  }


  @include media($tablet) {
    width: 120px;
  }

  .icons-radio-input__icon {
    font-size: 25px;
    padding-top: 5px;
    line-height: 25px;

    @include media($tablet) {
      font-size: 20px;
    }

    > span::before {
      display: inline-block;
      margin-top: 2px;
      color: $cwColor-black-xmedium;
    }
  }

  .icons-radio-input__input {
    display: none;
  }

  .icons-radio-input__label {
    text-transform: uppercase;
    color: $cwColor-base-bluegray;
  }

  &--checked {
    color: $cwColor-base-blue;
    border-color:$cwColor-base-blue;

    .icons-radio-input__icon {
      > span::before {
        color: $cwColor-base-blue;
      }
    }
  }
}