/* 
  Input Keyboard 

  Styleguide 13.2

  Markup:
    <div class="InputKeyboard">
      <input type="number" class="form-input">
      <div class="keyboard">
        <div class="number">9</div>
        <div class="number">8</div>
        <div class="number">7</div>
        <div class="number">6</div>
        <div class="number">5</div>
        <div class="number">4</div>
        <div class="number">3</div>
        <div class="number">2</div>
        <div class="number">1</div>
        <div class="number number--0">0</div>
        <div class="delete onlyclick-backspace"></div>
      </div>
    </div>
*/

.InputKeyboard {
  width: 156px;
  float: left;

  @include media($mobile) {
    text-align: center;
    float: none;
    margin: 0 auto;
  }

  .onlyclick-backspace {
    @include cw-covericon-before(onlyclick-backspace, 0, $cwColor-black-light);
    display: inline-block;
  }

  .form-input {
    margin: 10px 0;
    background-color: $cwColor-base-white;
    border-radius: 0;
    border: 2px solid $cwColor-black-light;
    padding-left: 10px;
    width: 100%;
    height: 40px !important;
    text-align: left;
    font-size: 1em;
    color: $cwColor-black-xmedium;
    font-weight: 100;
    box-sizing: border-box;
  }
}