.keyboard {
  background: inherit;
  width: 160px;

  @include media($mobile) {
    display: none;
  }

  .keyboard__number, .keyboard__delete {
    cursor: pointer;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 50px;
    color: $cwColor-base-bluegray;
    background-color: $cwColor-base-white;
    border: 1px solid $cwColor-black-light;
    font-size: 20px;
    margin: -1px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    &:hover {
      background-color: $cwColor-base-blue;
      color: $cwColor-base-white;
    }

    &:focus, &:active, &--clicked {
      @extend .animated, .pulse;
    }
  }

  .keyboard__delete {
    line-height: 57px;
    &:hover {
      &:before {
        background-color: $cwColor-base-blue;
        color: $cwColor-base-white;
      }
    }
  }

  .keyboard__number--0, .keyboard__delete--0 {
    width: 106px;
  }

  .keyboard__backspace {
    @include cw-covericon-before(onlyclick-backspace, 0, $cwColor-black-xmedium);
    display: inline-block;
  }
}
