.keyboard {
  background: inherit;
  width: 160px;

  .number, .delete {
    cursor: pointer;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 50px;
    color: $cwColor-base-bluegray;
    background-color: $cwColor-base-white;
    border: 1px solid $cwColor-black-light;
    font-size: 20px;
    margin: -1px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
  }

  .number--0, .delete--0 {
    width: 106px;
  }
}