/*
  Number Input

  Styleguide 13.1

  Markup:
    <div class="number-input">
      <input class="number-input__input" min="0" step="1" type="number" value="0">
      <span class="number-input__minus"></span>
      <span class="number-input__plus"></span>
    </div>
*/
/*
  Inside form group

  Styleguide 13.1.1

  Markup:
     <form class="form">
         <div class="form-group form-group--inline form-group--error">
             <label class="label label--inline label--text">Your label text</label>
             <div class="input-group input-group--inline">
                 <div class="number-input">
                    <input class="number-input__input" min="0" step="1" type="number" value="0">
                    <span class="number-input__minus"></span>
                    <span class="number-input__plus"></span>
                 </div>
                 <span class="help-block" >Error message</span>
             </div>
         </div>
     </form>
*/

.number-input {
  position: relative;
  width: 192px;

  @include media($mobile) {
    width: 100%;
  }
  .number-input__minus,
  .number-input__plus {
    position: absolute;
    font-size: 1.6em;
    top: 5px;
    width: 27px;
    height: 27px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      &:before {
        color: $cwColor-base-blue;
      }
    }

    &:focus, &:active, &--clicked {
      @extend .animated, .pulse;
    }

    @include media($mobile) {
      display: none;
    }
  }
  .number-input__minus {
    @include cw-covericon-before(onlyclick-minus, 0, $cwColor-black-xmedium);
    left: 114px;
  }

  .number-input__plus {
    @include cw-covericon-before(onlyclick-plus, 0, $cwColor-black-xmedium);
    left: 155px;
  }

  .number-input__input {
    width: 100px;
    height: 40px;
    padding-left: 10px;
    text-align: right;
    font-size: 1em;
    color: $cwColor-base-bluegray;
    background-color: $cwColor-base-white;
    border: 1px solid $cwColor-base-bluegray;
    border-radius: 0;
    box-sizing: border-box;

    @include media($mobile) {
      width: 100%;
    }
  }
}
