/*
  Only Click Options List

  Styleguide 13.4

  Markup:
    <ul class="oc-options-list">
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Not sure yet</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Individual</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Corporation</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">LLC</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Limited Partnership</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Non-profit</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Partnership</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option">
        <span class="oc-option__message">Trust</span>
        <span class="oc-option__next-icon"></span>
      </li>
      <li class="oc-options-list__item oc-option--checked oc-option">
        <span class="oc-option__message">Other</span>
        <span class="oc-option__next-icon"></span>
      </li>
    </ul>

*/

.oc-options-list {
  list-style-type: none;
  padding-left: 0;

  .oc-options-list__item {
    padding: 10px 15px;
    margin: -1px;
    border: 1px solid $cwColor-black-xmedium;
    cursor: pointer;
  }
}

.oc-option {
  @include clearfix();
  background-color: $cwColor-base-white;

  &:hover {
    background: $cwColor-blue-light;
  }

  &--checked {
    background-color: $cwColor-base-blue;
    color: $cwColor-base-white;

    .oc-option__next-icon {
      color: $cwColor-base-white;
      &::before {
        color: $cwColor-base-white;
      }
    }
  }

  &:focus, &:active, &--clicked {
    @extend .animated, .pulse;
  }

  .oc-option__next-icon {
    @extend .fa, .fa-angle-right;
    float: right;
    color: $cwColor-base-blue;

    &::before {
      font-size: 30px;
      line-height: 20px;
    }
  }
}
